In [1]:
import pandas as pd

In [7]:
df = pd.read_csv("juegos.csv")
print(df)
df.to_csv("juegos.csv")

      Unnamed: 0        Date                         Company Ticker Symbol  \
0              0  2000-01-01  Sony Interactive Entertainment          SONY
1              1  2000-02-01  Sony Interactive Entertainment          SONY
2              2  2000-03-01  Sony Interactive Entertainment          SONY
3              3  2000-04-01  Sony Interactive Entertainment          SONY
4              4  2000-05-01  Sony Interactive Entertainment          SONY
...          ...         ...                             ...           ...
2204        2204  2024-06-01                        Playtika          PLTK
2205        2205  2024-07-01                        Playtika          PLTK
2206        2206  2024-08-01                        Playtika          PLTK
2207        2207  2024-09-01                        Playtika          PLTK
2208        2208  2024-10-01                        Playtika          PLTK

     Currency       Open       High        Low      Close  Adj Close  \
0         JPY  28.525000  29.168751  20.850000  25.299999  14.535083
1         JPY  25.293751  31.475000  25.000000  31.350000  18.010864
2         JPY  30.100000  31.299999  21.700001  28.012501  16.093437
3         JPY  28.250000  28.250000  22.312500  22.562500  12.974537
4         JPY  22.700001  23.481251  17.750000  18.237499  10.487453
...       ...        ...        ...        ...        ...        ...
2204      USD   8.760000   9.070000   7.680000   7.870000   7.677933
2205      USD   7.860000   8.100000   7.230000   7.630000   7.536838
2206      USD   7.670000   8.055000   6.610000   7.570000   7.477571
2207      USD   7.490000   8.355000   7.150000   7.920000   7.823297
2208      USD   7.930000   8.060000   7.320000   7.830000   7.830000

         Volume
0     147012000
1      67437000
2     112674000
3      74071000
4      65035500
...         ...
2204   19793700
2205   15108300
2206   18138900
2207   18116900
2208   11134800

[2209 rows x 11 columns]

In [10]:
media = df["Open"].mean()
media

np.float64(56.08233187505499)

In [14]:
moda = df["Open"].std()
moda

np.float64(88.55227736805108)

In [11]:
mediana = df["Open"].median()
mediana

np.float64(22.36199951171875)

In [12]:
desviacion = df["Open"].std()
desviacion

np.float64(88.55227736805108)

In [13]:
varianza = df["Open"].std()
varianza

np.float64(88.55227736805108)